.menu-page {
    padding: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;

    /* layout fixes */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;

}
