.menu-card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
    text-align: center;
    flex-shrink: 0;
    width: 300px;
    outline: #147d5f 8px solid;
}

.menu-card:hover {
    transform: translateY(-6px);
}

.menu-card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.menu-card-inner.no-image {
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu-card-image {
    display: none;
}

.menu-card-title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.menu-card-description {
    font-size: 0.95rem;
    color: #444;
    margin: 0;
}

.menu-card-location {
    font-weight: bold;
    color: #199b74;
    font-size: 1.1rem;
    margin: 0;
}