@import "tailwindcss";

body {
  background: linear-gradient(#199B74, #00bcae);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #199B74;
  text-align: center;
  position: relative ;
  bottom: 0;
  width: 100%;
  Height: 40px;
}